<div class="container">

    <div class="jumbotron" style="text-align: center;">
        <h1>News Scraper</h1>
        <h3>View and save the latest articles from Echo JS</h3>
    </div>

    <div id="articles"></div>
    <div id="notes"></div>

{{#each articles}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <a href="{{link}}" target="blank">{{link}}</a>
            <br><br>
            <button type="submit" class="btn btn-default" id="saveArticle" data-id="{{_id}}">
                Save Article
            </button>
        </div>
    </div>
{{/each}}

{{#each savedarticles}}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <a href="{{link}}" target="blank">{{link}}</a>
            <br><br>
            <button type="submit" class="btn btn-default" id="deleteArticle" data-id="{{_id}}">
                Remove from Saved
            </button>
        </div>
    </div>
{{/each}}

</div>



